<ion-view cache-view="false">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Bluetooth Test</h1>
  </ion-header-bar>
  <ion-content>
    <div>
      Bluetooth available: {{bluetoothAvailable}}
    </div>
    <div>
      Bluetooth enabled: {{bluetoothEnabled}}
    </div>
    <div>
      Bluetooth Classic available: {{bluetoothClassicAvailable}}
    </div>
    <div>
      Orientation available: {{orientationAvailable}}
    </div>
    <div>
      Orientation: {{currentOrientation}}
    </div>
    <div>
      Diagnostic available: {{diagnosticAvailable}}
    </div>
    <div>
      Restart available: {{restartAvailable}}
    </div>
    <div>
      Device available: {{deviceAvailable}}
    </div>
    <div>
      Capacitor device available: {{capacitorDevice}}
    </div>
    <div>
      Screen On: {{screenOn}}
    </div>
    <div>
      Share available: {{shareAvailable}}
    </div>
  </ion-content>
</ion-view>